.App {
  text-align: center;
  background-color: aqua;
  max-width: 800px;
  height: 90vh;
  border-radius: 30px;
  padding: 30px;
  margin:0 auto;
  margin-top: 30px;
}
.output{
  font-size: 25px !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.input-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem; /* Adjust as needed */
}

.todo-input{
  max-width: 300px;
  margin: 0 auto;
  padding-left: 10px;
}
/* Define animations for moving items to the dustbin */
@keyframes moveToDustbin {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100px) translateX(-50px);
    opacity: 0;
  }
}

.deleting {
  animation: moveToDustbin 1s forwards;
}

/* Styles for the dustbin and other elements */
.dustbin {
  position: relative;
  margin: 20px auto;
  width: 50px;
  height: 100px;
  cursor: pointer;
}

.dustbin img {
  width: 100%;
  height: auto;
}

.dustbin-contents {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
}

input, button {
  margin-top: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
